* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f9fa;
}

html,
body,
#root {
  height: 100%;
}
body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .logo {
  font-family: 'Poppins', sans-serif;
}
body {
  padding-top: 64px;
}
